* {
    padding: 0;
    margin: 0;
}

.container {
    width: 100%;
    height: 100vh;
    min-height: 100%;
    background-color:#2F4858;
    display: flex;
    justify-content: center;
}

.box-container {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    

}

.red {
    background-color: red;
}

.title {
    padding: 10px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    color:white;
}

.fieldContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

input {
    width: 50%;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #fff;
    background-color: #ff8000;
    padding: 10px 30px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    border-radius: 50px;
    transition: 1000ms;
    transform: translateY(0);
    text-transform: uppercase;
}

input:active {
    transition: 1000ms;
    padding: 10px 50px;
    transform: translateY(-0px);
    background-color: #ff8000e2;
    color: #000000;
    border: none;
}

button {
    width: 25%;
    font-family: Roboto, sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #ff8000;
    background-color: #fff;
    padding: 10px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    border-radius: 50px;
    transition: 1000ms;
    transform: translateY(0);
    text-transform: uppercase;
}

.to-dos {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.containerDivNewElement {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    column-gap: 20px;
    row-gap: 10px;

}

.divNewElement {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border: 1px solid #ff8000;
    padding: 5px;
}

.textNewElement {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    color: #fff
}

.divSupp {
    display: flex;
    gap: 5px;
}

.to-dos .supp {
    border: 2px solid #ff8000;
    border-radius: 50px;
    padding: 5px;
    width: 10px;
    height: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    color: #fff;
    font-size: 22px;
}

.checked {
    background-color: red;
}
